.texto-menor{
    font-size: 12px;
}

.div-facilidades{
    width: 325px;
    
}

.ms-3 {
    color: #daff01;
}

.text-menor{
    color: #cccccc;
}

.icon-green {
    color: #daff01;
}

.btn{
    background-color: #9353ff;
}